@media (max-width: 575px) {

    .search-input-mobile {
        height: 38px;
    }

    .pokemon-card {
        width: 320px;
        height: 640px;
    }

    .pokemon-card-img {
        height: 160px;
        margin-top: -110px;
    }

    #more-details {
        font-size: smaller;
    }
}

@media (max-width: 475px) {
    .search-input-mobile {
        width: 100px !important;
    }
}