/* main */

h2 {
    font-size: 1.5rem !important;
}

.pokemon-container {
    width: 250px;
    padding: 24px;
    cursor: pointer;
}

.pokemon-container:hover {
    transform: scale(1.05);
    transition: all 225ms ease-in-out;
}

.type-field {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 8px;
    padding-right: 8px;
}

.pokemon-img {
    max-width: 100px;
    max-height: 100px;
}

/* popup card */

.card-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    width: 360px;
    height: 720px;
    margin-bottom: -40px;
}

.name-container {
    height: 45%;
    color: white;
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.close-btn, .back-btn, .forward-btn {
    filter: invert(1);
    margin-bottom: 8px;
    height: 32px;
    cursor: pointer;
}

.back-btn, .forward-btn {
    margin-top: 24px;
}

.type-field-popup {
    margin-right: 0.25rem;
}

.info-container {
    height: 55%;
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.pokemon-card-img {
    height: 200px;
    margin-top: -150px;
}

.pokemon-card-nav {
    text-decoration: none;
}

.pokemon-card-nav:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    transition: all 225ms ease-in-out;
}

/* progress bar */
td:first-child {
    width: 100px;
}

.progress {
    margin-top: 3px;
}

/* add comma between abilities objects */

/* just making the paragraphs inline */
#abilities > div { display: inline-block; }

/* appending the commas */
#abilities > div:after { content: ", " }

/* removing it for the last index */
#abilities  > div:last-of-type:after { content: "" }

