/* main */

h2 {
    font-size: 1.5rem !important;
}

.pokemon-container {
    width: 250px;
}

.type-field {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 8px;
    padding-right: 8px;
}

.pokemon-img {
    max-width: 100px;
    max-height: 100px;
}
/* pokemon types */
.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}
/* popup card */

.card-container {
    height: 500px;
    width: 300px;
    background-color: black;
    position: absolute;
    top: 0px;
}