body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
}

.pokemon-card {
    border-radius: 40px;
    min-height: 50vh;
}

.name-container {
    min-height: 40vh;
    background-color: #FD6C6D;
    color: white;
    
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#pokemon-img {
    height: 300px;
    margin-top: -200px;
}

.info-container {
    min-height: 40vh;
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}