/* main */

.pokemon-img {
    height: 200px;
}

.bg-green {
    background-color: #4AD0B0;
}

.bg-red {
    background-color: #FD6C6D;
}

.bg-blue {
    background-color: #70B7F9;
}

/* popup card */

.name-container {
    min-height: 50vh;
    background-color: #FD6C6D;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#pokemon-img {
    margin-top: -200px;
}

.info-container {
    min-height: 50vh;
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
}